<mdc-drawer #menu drawer='temporary' [fixedAdjustElement]="menuContent" class="demo-drawer--custom">
  <mdc-drawer-content>
    <mdc-list-group>
      <mdc-list>
        <mdc-list-item (click)="navTo('dashboard')">
          <mdc-icon mdcListItemGraphic>dashboard</mdc-icon>Home
        </mdc-list-item>
        <mdc-list-item (click)="navTo('login')">
          <mdc-icon mdcListItemGraphic>account_circle</mdc-icon>Login
        </mdc-list-item>
        <mdc-list-item (click)="navTo('sandbox')">
          <mdc-icon mdcListItemGraphic>inbox</mdc-icon>Sandbox
        </mdc-list-item>
        <mdc-list-divider></mdc-list-divider>
      </mdc-list>
    </mdc-list-group>
  </mdc-drawer-content>
</mdc-drawer>
<mdc-toolbar>
  <mdc-toolbar-row>
    <mdc-toolbar-section [alignStart]="true">
      <mdc-icon mdc-toolbar-menu-icon (click)="menu.open()">menu</mdc-icon>
      <mdc-toolbar-title>MISA</mdc-toolbar-title>
    </mdc-toolbar-section>
    <mdc-toolbar-section [alignEnd]="true" [shrinkToFit]="true">
      <mdc-icon mdcRipple mdc-toolbar-icon material-icon>account_circle</mdc-icon>
      <a (click)="showOptions()" mdcRipple mdc-toolbar-icon material-icon>more_vert</a>
    </mdc-toolbar-section>
  </mdc-toolbar-row>
</mdc-toolbar>