mdc-text-field {
    width: 100%;
}

.mdc-list{
    width: 100%;
}

#register{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    flex-grow: 1;
}